<h2><%= @user.name %>'s Home page</h2>
<h3>Email: <%= @user.email %></h3>

<% @user.sale_entries.each do |sale_entry| %>
    <br>
    <h4 style="color:Crimson;"><a href="/sale_entries/<%= sale_entry.id %>">Posted on : <%= sale_entry.change_created_at %> by <%= sale_entry.user.name %></a></h4><br>
    <p></p>
    <p>Item: <%= sale_entry.item %></p>
    <p>Description: <%= sale_entry.description %></p>
    <p>Price: $<%= sale_entry.price %></p>
    <br>
<% end %>

