<br>
Posted by : <a href="/users/<%= @sale_entry.user.id %>"><%= @sale_entry.user.name %></a><br><br>
Instrument : <%= @sale_entry.item %><br><br>
Description : <%= @sale_entry.description %><br><br>
Price : $<%= @sale_entry.price %><br><br>

<% if allowed_to_edit?(@sale_entry) %>
    <a href="/sale_entries/<%= @sale_entry.id %>/edit">Edit my post</a>&emsp;&emsp;
    <a href="/sale_entries">Post it!</a>
    <br><br>
    <form class="" action="/sale_entries/<%= @sale_entry.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" name="" value="Delete Post..">
    </form>
<% end %>



